.cardimgtop{
    transform: translateY(-50px);
    border-radius: 20px;
    z-index: 1;
    width: 90%;
    margin: auto;
     border: 1px solid var(--primary-color);
     background-size: contain;
  background-position: center;
   height: 60vh;
    background-color: var(--primary-color3);
    background-repeat: no-repeat;
    
    }
    .card .cardbody{
        transform: translateY(-50);
        height: auto;
        background-color: var(--card-color);
      
        display: flex;
        flex-direction: column;
        justify-content: center;
border-radius: 20px;
border: 1px solid var(--primary-color);
width: 100%;
      
    flex-wrap: wrap;
    }

   .card{
    background-color: var(--background-color);
    width: 30%;
  
    
   }
   @media (min-width: 768px) and (max-width: 991.98px){
.cardimgtop{
    height: 40vh;
    margin-top: 10px;
}
   }
   @media (max-width:  768.98px){
.card{
    width: 100%;
 
}
.card:not(:last-child) {
    margin-bottom: 80px;
}

   }