@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;500;600;700&family=Poppins:wght@400;500;600&display=swap');
:root {
  --primary-color:#09D7C3; ; /* Main brand color */
  --secondary-color:#13655D; /* Secondary color */
  --primary-color3: #0E1918;
  --background-color: #25272B; /* Background color */
  --text-color: white; /* Default text color */
  --card-color: #353C3C;
  
 /* Link color */
}
*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  
}
.btncard{
  background-color: var(--card-color);
  color: white;
  border: 1px solid var(--primary-color);

}
.primarybtn{
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
  
}
.primarybtn:hover{
  background-color: var(--secondary-color);
}
.center{
text-align: center;
}

.btn{
  border-radius: 50px; 

 
}

/* Global styles */
body {
  font-family: 'Poppins', sans-serif; /* Default font */
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Bodoni', serif; /* Use Libre Bodoni for headings */
}
html, body {
  overflow-x: hidden; /* Prevent horizontal scrolling on the entire page */
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}
/* Add this to your CSS */
body.modal-open {
  padding-right: 0 !important;
}

.modal {
  z-index: 110000 !important; /* Ensure modal is on top of navbar */
}
/* ABOUT US CONTAINER */

/* Additional custom styles */
